@import "header.css";
@import "services.css";
@import "team.css";
@import "footer.css";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: all 0.2s linear;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  background-color: #fff;
  width: 1200px;
}
/* .page-header {
  height: 40px;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}
.logo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  color: #95e1d3;
}
.menu {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}
.menu-link {
  position: relative;
  display: block;
  padding: 8px 0;
  color: #95e1d3;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: center;
  transition: color 0.2s linear;
}
.menu-link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f38181;
  content: "";
  opacity: 0;
  transition: height 0.2s, opacity 0.2s, transform 0.2s linear;
  transform: translateY(-10px);
}
a:hover {
  color: #f38181;
}
.menu-link:hover::after {
  height: 3px;
  opacity: 1;
  transform: translateY(0px);
}
.services {
  margin-top: 110px;
}
.section-title {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}
.section-subtitle {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-subtitle::after {
  display: block;
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 42px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 66px;
}
.service-card {
  font-size: 0;
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 160px;
}
.card-icon {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 28px;
  color: #95e1d3;
}
.card-info {
  width: 70%;
  display: inline-block;
  font-family: Montserrat;
  margin-left: 20px;
}
.card-title {
  color: #333333;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: top;
}
.card-descr {
  color: #999999;
  font-size: 13px;
  line-height: 22px;
  margin-top: 6px;
}
.team-descr {
  margin: 0 auto;
  font-family: Montserrat;
  width: 940px;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 92px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-card {
  font-size: 0px;
  position: relative;
  flex-basis: 380px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Montserrat;
}
.team-img {
  display: block;
  margin-bottom: 28px;
  height: 470px;
  transition: all 0.2s ease-in;
}
.team-item-title {
  color: #333333;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.team-item-descr {
  color: #999999;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.card-hover {
  background-image: linear-gradient(
    to bottom,
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  box-shadow: 10px 10px 0 0 #95e1d3;
  opacity: 0;
  transform: translate(-10px, -10px);
  transition: all 0.3s linear;
}
.team-card:hover > .card-hover {
  opacity: 1;
}
.team-card:hover > .team-img {
  transform: translate(-10px, -10px);
}
.social-icon {
  height: 56px;
  width: 56px;
  background-color: #fce38a;
  font-size: 24px;
  color: #f38181;
  border: none;
  transition: background-color 0.2s linear;
}
.social-icon:hover {
  background-color: #95e1d3;
  cursor: pointer;
}
.icon-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 228px;
  top: 50%;
  transform: translate(35%, -50%);
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  height: 62px;
  border-top: 1px solid #e5e5e5;
  padding: 12px 0px 12px 0px;
}
.copyright {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 36px;
  vertical-align: center;
}
.footer-link {
  display: inline-block;
  color: #f38181;
  transition: color 0.2s linear;
}
.footer-link:hover {
  color: #95e1d3;
}
.subscription {
  font-size: 0px;
}
.input {
  padding-left: 10px;
  height: 40px;
  width: 230px;
  color: #e7e7e7;
  font-family: Montserrat;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  transition: border 0.2s linear;
}
.input:hover {
  border: 1px solid #d3d3d3;
}
.primary-btn {
  margin-left: -1px;
  height: 40px;
  width: 150px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background-color: #95e1d3;
  border: none;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.primary-btn:hover {
  background-color: #4ec6ab;
} */
