.section-wrapper {
  background-color: #fff;
}
.section-title {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1.85rem;
}
.partners {
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 3.5rem 0;
}
.item {
  margin-bottom: 1.85rem;
  cursor: pointer;
}
.item:hover > .partner-name {
  color: #ff4e50;
}
.item:hover > .picture > .circle {
  background-color: #ff4e50;
}
.picture {
  position: relative;
  width: 10rem;
  margin: 0 auto;
}
.photo {
  width: 7.625rem;
  border-radius: 50%;
}
.circle {
  transition: all 0.2s ease-in;
}
.circle-1 {
  display: flex;
  position: absolute;
  bottom: -0.25rem;
  right: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #ffffff;
  background-color: #ff4e50;
  border-radius: 50%;
}
.circle-2 {
  display: flex;
  position: absolute;
  bottom: -0.25rem;
  right: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #ffffff;
  background-color: #ffa507;
  border-radius: 50%;
}
.circle-3 {
  display: flex;
  position: absolute;
  bottom: -0.25rem;
  right: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #ffffff;
  background-color: #1cd7ad;
  border-radius: 50%;
}
.circle-4 {
  display: flex;
  position: absolute;
  bottom: -0.25rem;
  right: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #ffffff;
  background-color: #4e73db;
  border-radius: 50%;
}
.icon {
  align-items: center;
}
.partner-name {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in;
}
.partner-descr {
  margin: 0 auto;
  width: 80%;
  color: #666666;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.see-more {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #ff4e50;
  background-color: #fff;
  font-size: 0.875rem;
  padding: 0.7rem;
  display: block;
  margin: 0 auto;
  border-radius: 1.6rem;
  border: 0.1rem solid #ff4e50;
  margin-top: 1.25rem;
  width: 100%;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.see-more:hover {
  color: #fff;
  background-color: #ff4e50;
}

@media (min-width: 560px) {
.partners-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem;
}
.item {
  flex-basis: 50%;
}
.see-more {
  width: auto;
  padding: 0.6rem 1.5rem;
}
}
@media (min-width: 940px) {
.partners-list {
  flex-wrap: nowrap;
  margin-bottom: 1.85rem;
  padding: 0;
}
.item {
  margin-bottom: 0;
}
