.wrapper {
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url("../img/banner-min.jpg");
  background-image: -webkit-linear-gradient(
      top,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../img/banner-min.jpg");
  background-image: -o-linear-gradient(
      top,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../img/banner-min.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../img/banner-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0.5rem 0 13rem 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 4rem;
}
.logo {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 3rem;
  color: #fff;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 60%;
}
.menu__link {
  position: relative;
  display: block;
  padding: 0.5rem 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.875rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  vertical-align: center;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu__link::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background: #fce38a;
  -webkit-transition: height 0.2s, opacity 0.2s, -webkit-transform 0.2s linear;
  transition: height 0.2s, opacity 0.2s, -webkit-transform 0.2s linear;
  -o-transition: height 0.2s, opacity 0.2s, transform 0.2s linear;
  transition: height 0.2s, opacity 0.2s, transform 0.2s linear;
  transition: height 0.2s, opacity 0.2s, transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: translateY(-0.625rem);
      -ms-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}
.menu__link:hover {
  color: #fce38a;
}
.menu__link:hover::after {
  height: 0.1875rem;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.header-icon-set {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  fill: #fff;
  padding: .875rem 0 0 0;
}
.header-icon {
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.header-icon:hover {
  fill: #fce38a;
}
.title {
  font-family: "Kaushan Script", serif;
  text-align: center;
}
.title--banner {
  color: #fff;
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin-top: 10.25rem;
}
.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.subtitle--banner {
  color: #fff;
  font-size: 9.375rem;
  margin-top: 2.5rem;
}
.btn {
  margin: 0 auto;
  height: 2.5rem;
  padding: 0 1.75rem 0 1.75rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.btn--stroke {
border: 0.1875rem solid #fff;
background: transparent;
background-color: transparent;
margin-top: 7rem;
}
.btn--stroke:hover {
  background-color: #fff;
  color: #f38181;
  border: 0.1875rem solid #fff;
}