
.section {
  margin-top: 3rem;
}
.title--section {
  color: #333333;
  font-size: 1.5rem;
  line-height: 3rem;
}
.subtitle--section {
  color: #333333;
  font-size: 1.875rem;
  line-height: 2.5rem;
}
.subtitle--section::after {
  display: block;
  content: "";
  height: 0.1875rem;
  width: 3.75rem;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 2.625rem;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list--services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4.125rem;
}
.service__item {
  font-size: 0;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 10rem;
}
.service__item-info {
display: inline-block;
width: 85%;
}
.service__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: #95E1D3;
  margin-right: 1.2rem;
  vertical-align: top;
}
.item-title {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.item-descr {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}
.item-descr--service {
  margin-top: 0.375rem;
}