.item-descr--team-setion {
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 5.75rem;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-card {
  font-size: 0px;
  position: relative;
  flex-basis: 23.75rem;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Montserrat;
}
.team-img {
  display: block;
  margin-bottom: 1.75rem;
  transition: all 0.2s ease-in;
  background-size: cover; 
}
.item-title--team {
  text-align: center;
}
.item-descr--team {
  margin: 0 auto;
  text-align: center;
}
.card-hover {
  background-image: linear-gradient(
    to bottom,
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 29.38rem;
  box-shadow: 0.625rem 0.625rem 0 0 #95e1d3;
  opacity: 0;
  transform: translate(-0.625rem, -0.625rem);
  transition: all 0.3s linear;
}
.team-card:hover > .card-hover {
  opacity: 1;
}
.team-card:hover > .team-img {
  transform: translate(-0.625rem, -0.625rem);
}
.social-icon-bg {
  height: 56px;
  width: 56px;
  background-color: #fce38a;
  transition: background-color 0.2s linear;
}
.social-icon {
  fill: #f38181;
}
.social-icon-bg:hover {
  background-color: #f38181;
  cursor: pointer;
}
.icon-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 14.25rem;
  top: 50%;
  transform: translate(35%, -50%);
}

